.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
  z-index: 1;
  /* animation */
  transition: all 0.3s ease-in;
}

.nav__logo {
  object-fit: contain;
  width: 80px;
}

.nav__avatar {
  object-fit: contain;
  width: 30px;
}

.handleShow {
  background-color: #000;
}
